@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:where(.css-dev-only-do-not-override-d2lrxs).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-d2lrxs).ant-menu-light>.ant-menu .ant-menu-item-selected{
  background-color: #3f4c5e;
}